{% load static %}

<html>

    <head>
        <title>Merchex</title>
        <link rel="stylesheet" href="{% static 'listings/styles.css' %}" />
    </head>

    <body>
        <nav>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'band-list' %}">Bands</a>
            <a href="{% url 'listing-list' %}">Products</a>
            <a href="{% url 'about-us' %}">About</a>
            <a href="{% url 'contact-us' %}">Contact</a>
        </nav>

        {% block content %}{% endblock %}

    </body>

</html>